<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>admin</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <style type="text/css" media="screen">
        .container, body, html {
            height: 100%;
        }
        .container {
            margin-top: 200px;
        }
        .form-control {
            margin-bottom: 50px;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <form class="form-block" action="../inset/updata" method="get">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">标题</div>
                        <input id="title" type="text" name="title" class="form-control" id="exampleInputAmount" placeholder="请输入标题">
                    </div>
                </div>
                <textarea id="content" name="content" class="form-control" rows="5"></textarea>
                <button class="btn btn-default btn-lg btn-block" type="submit">提交</button>
            </form>
        </div>
    </body>
</html>